* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #a9b5df;
}

.jumbotron {
  background-color: #2d336b;
  padding: 2rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.navbar {
  position: sticky;
  top: 0;

  background-color: #7886c7;
  padding: 5px;
}

.navbar ul {
  display: flex;
  padding-inline: 10px;
  gap: 2rem;
  list-style: none;
  margin-left: 20px;
}

.navbar li {
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.card {
  background-color: #f4f4f4;
  padding: 2rem 3rem 2rem 3rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.header-nav {
  display: inline;
}

footer {
  background-color: #2d336b;
  color: white;
  text-align: center;
  padding: 1rem;
}

footer a {
  color: white;
}

footer a:hover {
  color: yellow;
}

.profile-image {
  width: 100%;
  max-height: 400px;
  border-radius: 15px;
}

#content {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 1rem 2rem;
}

.anam-image {
  width: 100%;
  border-radius: 15px;
}

.dbs-bank-image {
  width: 30%;
  border-radius: 15px;
}

.microsoft-image {
  width: 30%;
  border-radius: 15px;
}

.dicoding-image {
  width: 30%;
  border-radius: 15px;
}

.javascript-image {
  border-radius: 15px;
  margin-right: 30px;
}

.caption {
  margin-top: 20px;
}

.typescript-image {
  margin-top: 20px;
}

.react-image {
  width: 30%;
  border-radius: 15px;
}

.express-image {
  width: 30%;
  border-radius: 15px;
}

.google-cloud-image {
  width: 50%;
  border-radius: 15px;
  /* margin-bottom: 20px; */
}

.oracle-image {
  width: 30%;
  border-radius: 15px;
}

.center {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.aside {
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

main {
  overflow: auto;
  display: flex;
  padding: 30px;
  gap: 2rem;
}

aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 40rem;
}
